.badge {
  font-size: 11px !important;
  font-weight: 300;
  text-align: center;
  background-color: #e02222;
  height: 18px;
  padding: 3px 6px 3px 6px;
  -webkit-border-radius: 12px !important;
     -moz-border-radius: 12px !important;
          border-radius: 12px !important;
  text-shadow:none !important;
  text-align: center;
  vertical-align: middle;
}