body{
    background: #F5F5F5;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.login-container{
    width: 1000px;
    height: 500px;
    background: white;
    margin: 0 auto;
}
.login-desc{
    margin-top: 160px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
hr{
    margin: 0 20px;
}
.left-image{
    float: left;
    width: 531px;
    height: 415px;
}
.login_form{
    float: left;
    width: 320px;
    margin-top: 80px;
    border-left: 1px solid #D8D4D4;
    padding-left: 60px;
}
button{
    width: 260px;
    background-color: #F989B9;
    color: white;
}
button:hover{
    background-color: #FE74AF;
    color: #eee!important;
}
.login-bg{
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}
.img-bg{
    position: absolute;
    height: 34px;
    text-align: center;
    background-color: #ece5ec;
    width: 100%;
    bottom: 0;
}
.error_message{
    margin-top: 16px;
    color: red;
    display: none;
}
.clearFix{
	clear:both;
	height:0;
	line_height:0;
	font-siez:0;
	margin:0;
	padding:0;
}