.panel-head ul{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	float: left;
	text-align: center;
	background-color: #eee;
}
.panel-head ul li{
	float: left;
	width: 14%;
}
.panel-head ul li img{
	width:40px;
	height:40px
}
.heatTimeLabel{
	height: 34px;
	line-height: 34px;
	text-align: center;
	margin-bottom: 20px;
}
.heatTimeLabel button{
	float: right;
}
.item-table{
	text-align: center;
}
.item-table th{
	text-align: center;
}
.item-table td{
	font-size: 14px;
	vertical-align: middle!important;
}
.operate-btn{
	margin-top: 20px;
	text-align: center;
}
table {
	width:1250px!important;
	margin:auto;
}
table tr td{
	width: 33.333333%;
	border-top:none!important;
	font-size:14px;
}